<footer>
    <mat-grid-list cols="1" rowHeight="4em">
        <mat-grid-tile id="copyright">
            {{ 'PAGES.FOOTER.COPYRIGHT' | translate }}
        </mat-grid-tile>
        <mat-grid-tile id="social">
            <div>
                <a href="https://www.github.com/kaustubhtalathi" target="_blank" rel="noopener">
                    <img src="/assets/images/social/github.png" alt="Github" style="max-width:40px;" />
                </a>
                <a href="https://www.linkedin.com/in/kaustubh-talathi-5a3a088/" target="_blank" rel="noopener">
                    <img src="/assets/images/social/linkedin.webp" alt="Linkedin" style="max-width:40px;" />
                </a>
                <a href="https://medium.com/@kaustubhtalathi/latest" target="_blank" rel="noopener">
                    <img src="/assets/images/social/medium.png" alt="Medium" style="max-width:40px;" />
                </a>
                <a href="https://www.twitter.com/kaustubhtalathi" target="_blank" rel="noopener">
                    <img src="/assets/images/social/twitter.webp" alt="Twitter" style="max-width:40px;" />
                </a>        
            </div>
        </mat-grid-tile>
        <mat-grid-tile id="footnote">
            {{ 'PAGES.FOOTER.FOOTNOTE' | translate }}
        </mat-grid-tile>
    </mat-grid-list>
</footer>