<header>
    <nav>
        <a mat-button routerLink="/" routerLinkActive="active">
            <mat-icon>home</mat-icon>
            HOME
        </a>
        <a mat-button routerLink="/projects" routerLinkActive="active">
            <mat-icon>work</mat-icon>
            PROJECTS
        </a>
        <a mat-button routerLink="/resume" routerLinkActive="active">
            <mat-icon>file_copy</mat-icon>
            RESUME
        </a>
        <a mat-button routerLink="/certifications" routerLinkActive="active">
            <mat-icon>star_rate</mat-icon>
            CERTIFICATIONS
        </a>
        <a mat-button routerLink="/demos" routerLinkActive="active">
            <mat-icon>slideshow</mat-icon>
            DEMOS
        </a>
        <a mat-button target="_blank" rel="noopener" href="https://github.com/kaustubhtalathi">
            <mat-icon>code</mat-icon>
            GITHUB
        </a>
        <a mat-button target="_blank" rel="noopener" href="https://www.linkedin.com/in/kaustubh-talathi-5a3a088/">
            <mat-icon>domain</mat-icon>
            LINKEDIN
        </a>
        <a mat-button target="_blank" rel="noopener" href="https://medium.com/@kaustubhtalathi/latest">
            <mat-icon>description</mat-icon>
            BLOG
        </a>
    </nav>
</header>