<div class="container">
    <h1 class="title">
        {{ 'PAGES.DEMOS.TITLE' | translate }}
    </h1>

    <mat-grid-list cols="1" rowHeight="8em">
        <mat-grid-tile>
            <div>
                <h2>
                    <a href="/demos/github" target="_blank">
                        ReactJS - Github profiler
                    </a>
                </h2>
            </div>
        </mat-grid-tile>    
        <mat-grid-tile>
                <div>
                    <h2>
                        <a href="/demos/flexbox" targt="_blank">
                            Flexbox - Chessboard
                        </a>
                    </h2>
                </div>
            </mat-grid-tile>    
    </mat-grid-list>
</div>