<div class="container">
    <h1 class="title">
        {{ 'PAGES.PROJECTS.TITLE' | translate }}
    </h1>
    <h2>Showcase of most of the projects which I have developed and led.</h2>

    <mat-grid-list cols="1" rowHeight="48em">
        <mat-grid-tile>
            <div>
                <h2>Sprint - Allin device wall</h2>
                <br />
                <img src="/assets/images/project-screenshots/sprint_allin_devicewall.png" alt="Sprint" />
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <h2>Sprint - Allin device configurator</h2>
                <br />
                <img src="/assets/images/project-screenshots/sprint_allin_deviceconfigurator.png" alt="Sprint" />
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <h2>Sprint - Bundle device wall</h2>
                <br />
                <img src="/assets/images/project-screenshots/sprint_bundle_devicewall.png" alt="Sprint" />
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <h2>Sprint - Express Upgrade</h2>
                <br />
                <img src="/assets/images/project-screenshots/sprint_express_upgrade.png" alt="Sprint" />
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <h2>Acumen Solutions - State Department</h2>
                <br />
                <img src="/assets/images/project-screenshots/ndf1.png" alt="Acumen Solutions" />
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <h2>Acumen Solutions - State Department</h2>
                <br />
                <img src="/assets/images/project-screenshots/ndf2.png" alt="Acumen Solutions" />
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <h2>Acumen Solutions - Census Bureau</h2>
                <br />
                <img src="/assets/images/project-screenshots/Census - calendar.png" alt="Acumen Solutions" />
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <h2>Acumen Solutions - Census Bureau</h2>
                <br />
                <img src="/assets/images/project-screenshots/Census - calendar modal.png" alt="Acumen Solutions" />
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <h2>Acumen Solutions - Business USA</h2>
                <br />
                <img src="/assets/images/project-screenshots/BUSA - calendar.png" alt="Acumen Solutions" />
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <h2>Acumen Solutions - Business USA</h2>
                <br />
                <img src="/assets/images/project-screenshots/BUSA - calendar 1.png" alt="Acumen Solutions" />
            </div>
        </mat-grid-tile>    
        <mat-grid-tile>
            <div>
                <h2>Telecommunications Systems - Enterprise Messaging Access Gateway</h2>
                <br />
                <img src="/assets/images/project-screenshots/CreateMessage.png" alt="Telecommunications Systems" />
            </div>
        </mat-grid-tile>    
        <mat-grid-tile>
            <div>
                <h2>Telecommunications Systems - Huawei reports</h2>
                <br />
                <img src="/assets/images/project-screenshots/MessageFailures.png" alt="Telecommunications Systems" />
            </div>
        </mat-grid-tile>    
        <mat-grid-tile>
            <div>
                <h2>New York Institute of technology - Firewall</h2>
                <br />
                <img src="/assets/images/project-screenshots/ViewEditDefault.jpg" alt="New York Institute of Technology" />
            </div>
        </mat-grid-tile>    
        <mat-grid-tile>
            <div>
                <h2>New York Institute of technology - Distributed Systems</h2>
                <br />
                <img src="/assets/images/project-screenshots/query.png" alt="New York Institute of Technology" />
            </div>
        </mat-grid-tile>    
    </mat-grid-list>
</div>