<div class="container">
    <h1 class="title">
        {{ 'PAGES.CERTIFICATIONS.TITLE' | translate }}
    </h1>

    <mat-grid-list cols="4" rowHeight="16em">
        <mat-grid-tile>
            <img src="/assets/images/certification-logos/aws-cloud-practitioner.png" alt="aws-cloud-practitioner logo" />
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="/assets/images/certification-logos/Programming+in+HTML5+with+JavaScript+and+Css3-01.png" alt="Microsoft HTML5 Certificaiton logo" />
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="/assets/images/certification-logos/MTA-HTML5-Application-Development-Fundamentals.png" alt="Microsoft MTA certification logo" />
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="/assets/images/certification-logos/Blockchain+Essentials.png" alt="Blockchain certification logo" />
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="/assets/images/certification-logos/Bluemix+Essentials+-+Knowledge+Badge.png" alt="Bluemix certification logo" />
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="/assets/images/certification-logos/Cloud+Container+Service+_26+KBs.png" alt="CLoud Container certification logo" />
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="/assets/images/certification-logos/Docker+Essentials.png" alt="Docker Essentials Certification logo" />
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="/assets/images/certification-logos/Node+RED+-+Knowledge+Badge.png" alt="Node Red Ceritification logo" />
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="/assets/images/certification-logos/solaris-associate.png" alt="Solaris Certification logo" />
        </mat-grid-tile>
        <mat-grid-tile>
            <img src="/assets/images/certification-logos/w3certified_biglogo.png" alt="W3Schools Certification logo" />
        </mat-grid-tile>
    </mat-grid-list>
</div>      