<div class="container">
    <h1 class="title">
        {{ 'PAGES.RESUME.TITLE' | translate }}
    </h1>
</div>
<div class="container">
    <mat-card>
        <h2>Summary:</h2>
        <ul>
            <li>Over 10 years of experience in architecting, designing and development of robust web applications.</li>
            <li>Managed a team of six developers. Led a team of on-shore and off-shore developers.</li>
            <li>Architect Angular applications by using the latest and best available modules, deciding app structure, best practices &amp; mock API’s.</li>
            <li>Excellent skills in modern Web Technologies like HTML5, CSS3, JavaScript ES6, Angular 2+, NGRX, ReactJS, Redux, Enzyme, Bootstrap, Jade, Sass, JAVA, JSP, PHP, Python, Apex, ASP.NET, Servlets and XML.</li>
            <li>Good understanding of cloud based applications and deployment on AWS and Azure.</li>
            <li>Architected multiple projects and interacted with business owners, managers &amp; peers to ensure quality products.</li>
            <li>Ability to gather requirements from clients, provide LOE’s and successfully deliver the project.</li>
            <li>Expert in writing client-side JavaScript libraries like jQuery, Mootools, YUI &amp; BackboneJS to develop dynamic websites.</li>
            <li>Hands-on experience in developing responsive web applications using various libraries.</li>
            <li>SME in mobile development and debugging issues on IOS and Android.</li>
            <li>Experienced with third party API’s like Google Maps, Microsoft Bing maps, Google Ad words, Adobe Analytics etc.</li>
            <li>Experienced with cross browser testing &amp; fixing bugs on Firefox, IE, Chrome, Safari etc.</li>
            <li>Demonstrated ability to work on multiple platforms like Windows, UNIX or Mac.</li>
            <li>Provided 24X7 supports during production releases &amp; defect resolution.</li>
            <li>Expert in managing specific tasks in deadlines while juggling immediate requests.</li>
            <li>Experienced as a team player and willing to share and learn new business concepts, technology and knowledge.</li>
            <li>Strong Oral and written communication skills as well as ability to work in a fast paced and rapidly evolving environment.</li>
            <li>Created multiple IOS and Android apps using Native SDK and Phone gap, Ionic for Angular.</li>
        </ul>
    </mat-card>

    <mat-card>
        <h2>Skills:</h2>
        <ul>
            <li>Languages: HTML5, CSS3, JavaScript(ES6), Typescript, XML, AJAX, Visual Force, Apex, PHP, Python, Java, JSP, SQL, VB, VB.NET, ASP.NET, C, C++, Shell Scripting, Action Script</li>
            <li>JS libraries/frameworks: Angular, React, Redux, JQuery, JQuery mobile, Prototype, ExtJS, Mootools, YUI, BackboneJS, KnockoutJS, Sencha</li>
            <li>CSS libraries: PrimeNG, Angular Material, PureCss, Bootstrap, JQuery UI/mobile</li>
            <li>Cloud: AWS, Azure, OpenStack</li>
            <li>Software’s: Eclipse, Ant, Adobe Dreamweaver &amp; Photoshop, phpMyAdmin, MS Office, MS Visio, CVS/SVN/GIT, Mercury, MS Sharepoint Server, Exceed, Telnet, Putty, Apache Tomcat, LAMP, Apache HTTP Server, NodeJS, Sublime, Atom, Webstorm, Visual Studio Code</li>
            <li>Operating Systems: Unix/Linux, Windows, Mac OSX</li>
        </ul>
    </mat-card>

    <mat-card>
        <h2>Experience:</h2>
        <ul>
            <li>
                Hexaware Technologies, Herndon VA | March 2017 – Current
            </li>
            <li>
                Sprint Corporation, Reston VA | July 2012 – March 2017
            </li>
            <li>
                Acumen Solutions, McLean VA | Mar 2011 – July 2012
            </li>
            <li>
                TeleCommunications Systems, Annapolis MD | Feb 2009 - Mar 2011
            </li>
            <li>
                Siemens Information System Limited, India | Feb 2006 – Aug 2006
            </li>
        </ul>
    </mat-card>

    <mat-card>
        <h2>Education:</h2>
        <ul>
            <li>
                Masters in Computer Science, New York Institute of Technology (NYIT), New York NY | 2008
            </li>
            <li>
                Bachelor of Engineering (Computer Science), Lokmanya Tilak College of Engineering - University of Mumbai, India | 2005
            </li>
        </ul>
    </mat-card>

    <mat-card>
        <h2>
            Certifications
        </h2>
        <ul>
            <li>AWS Certified Cloud Practitioner</li>
            <li>Microsoft Technology Associate (98-375) - HTML5 Application Development Fundamentals</li>
            <li>Microsoft Exam 480: Programming in HTML5 with JavaScript and CSS3</li>
            <li>Sun Certified Solaris Associate</li>
            <li>W3 schools: HTML/XHTML/CSS, JavaScript/HTML DOM, PHP/SQL</li>
            <li>GNIIT (India)</li>
        </ul>
    </mat-card>
</div>